/*nav{
    font-size: 16t;
    font-family: "helvetica", sans-serif;
    color: darkslategrey;
}

.nav-link{
    color: darkslategrey;
}

.navbar-brand{
    color: darkslategrey;
}*/
body{
    font-size: 16pt;
    font-family:"gill sans", "helvetica", sans-serif;
    color: darkslategrey;
    background-color: honeydew;
    padding: 10%;
}
p {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
    
  }
h1{
    text-align: center;
    padding: 50px;
}
img{
    width: 500px;
}
ul{
    text-align: center;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid darkslategrey;
    color: darkslategrey;
  }
th, td {
    padding: 15px;
    text-align: left;
  }
  footer {
      padding: 50px;
  }
  .smallimg {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid darkslategrey;
    border-radius: 10%;
  }

  .bg-darkslategrey{
  background-color: darkslategrey;
  color: white;}


.card{
    background-color: #E2DFD2;
    font-color: #6B7D7D;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #6B7D7D;
}

.card-title {
    font-size: 1vw;
    font-style: bold;
    text-align: center;
}

.card-image{
    position:relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .image-overlay {
  opacity: 1;
}

.product-text {
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.product-btn {
  border-radius: 4px;
  background-color: #F0FFF0;
  border: 2px solid #2D364D;
  color: #2D364D;
  text-align: center;
  font-size: 1vw;
  padding: 10px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.product-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.product-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #E2DFD2;
}

.product-btn:hover span {
  padding-right: 25px;
  color: #E2DFD2;
}

.product-btn:hover span:after {
  opacity: 1;
  right: 0;
  color: #E2DFD2;
}
.product-btn:hover {
  background-color: #C1958C;
}
