<!-- inherits from layout.html template -->
{% extends "layout.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
    <body>

<!-- this block of content drops into placeholder in layout.html -->
{% block body_content %}


<header>
    <h1> Welcome to Hybrid Bakery </h1>


    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white">
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>


      <hr class="my-5" />


        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    <form method="POST" action="/home">
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.email_enquiry.label(class_="form-label") }}</div>
                <div class="col-md-10">{{ form.email_enquiry(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.full_name.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.full_name(class_="form-control", size =32)}}</div>
            </div>
        </div>
                <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.message.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.message(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="row">
            <div class = "mb-3">
                <div class="col-md-2">{{ form.submit(class_="btn btn-primary mb-3") }}</div>
            </div>
        </div>
        {{ message }}
    </form>
      </section>
      <!--Section: Content-->
    </div>
  </main>

{% endblock %}
    </body>
</html>
  <!--Main layout-->
