<!-- inherits from layout.html template -->
{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page for {{product.product_name}} </title>
</head>
<body>
<!-- this block of content drops into placeholder in layout.html -->
{% block body_content %}
<div>
    <h1>Hybrid Bakery's {{product.product_name}}</h1>
 <img src="{{ url_for('static', filename='images/Cruffin.jpg') }}" />
    {# add dynamically rendered image here - will require extra field product_image in product table #}
{#first attempt at dynamic image #}
    {% set img = '{}.jpg'.format(product.product_name) %}
    <img src="{{ url_for('static', filename='/images/' + img) }}" />
   <p> {{product.price}} </p>
    <p>{{product.product_description}}</p>

    <br>
    {{ message }}
</div>
{% endblock %}
</body>
</html>
<!-- end of content to fill placeholder in layout.html -->

