<!-- inherits from layout.html template -->
{% extends "layout.html" %}
<!-- this block of content drops into placeholder in layout.html -->
{% block body_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page for {{product.product_name}} </title>
</head>
<body>
<div>

   <p> </p>
    <p>{{product.product_description}}</p>

    <br>
    {{ message }}
</div>
</body>
</html>
<!-- end of content to fill placeholder in layout.html -->
{% endblock %}
