<!-- inherits from layout.html template -->
{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>

<!-- this block of content drops into placeholder in layout.html -->
{% block body_content %}
<h1> Our Product Range</h1>
<div>
    <table>
{% for product in product %}
<TR>
   <!-- add images? <TD class="c1"><IMG src="favicon.ico"></TD> -->
   <TD class="c1">{{product.product_name}}</TD>
   <TD class="c2">{{product.price}}</TD>
   <TD class="c3"><SPAN>{{product.product_description}}</SPAN></TD>
</TR>

{% endfor %}
    </table>
</div>
{% endblock %}
</body>
</html>
