<!-- inherits from layout.html template -->
{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='spinner.css') }}">
</head>
<body>
<!-- this block of content drops into placeholder in layout.html -->
{% block body_content %}
<h1 style="color:#1E2433"><b> Bakery Products </b></h1>
<div class="product-container">
    <div class="row">
        {% for product in product %}
        {% set img = '{}.jpg'.format(product.product_name) %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='/images/' + img) }}" alt="{{product.product_name}}" class="card-img-top"  style="height: 10%">
                    <div class="image-overlay">
                        <div class="product-text">{{product.product_description}}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-title">
                                {{product.product_name}}<br>£{{product.price}}
                            </div>
                        </div>
                        <div class="col-6">
                            <a href="/products/{{product.product_name}}" class="btn product-btn"><span>View Product</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
</body>
</html>
