<!-- inherits from layout.html template -->
{% extends "layout.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- this block of content drops into placeholder in layout.html -->
{% block body_content %}
<h1 style="color:#1E2433"><b> Register </b></h1>

<form method="POST" action="/signup">
  <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
  {{ form.csrf_token }}
 <div class="form-container">
     <div class="row">
     <div class="mb-3 message-alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, messages in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
     </div>
     </div>
     <div class="row">
         <div class="mb-3">
             <div class="col-md-3">{{ form.email.label(class_="form-label") }}</div>
             <div class="col-md-12">{{ form.email(class_="form-control", size =32)}}</div>
         </div>
     </div>
    <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.password.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.password(class_="form-control", size =32)}}</div>
    </div>
    </div>
    <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.first_name.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.first_name(class_="form-control", size =32)}}</div>
    </div>
    </div>
    <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.last_name.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.last_name(class_="form-control", size =32)}}</div>
    </div>
    </div>
    <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.phone_number.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.phone_number(class_="form-control", size =32)}}</div>
    </div>
  </div>
  <br>
  <h4> Address: </h4>
  <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.first_line.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.first_line(class_="form-control", size =32)}}</div>
  </div>
 </div>
   <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.second_line.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.second_line(class_="form-control", size =32)}}</div>
  </div>
  </div>
  <div class="row">
      <div class="mb-3">
      <div class="col-md-3">{{ form.town.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.town(class_="form-control", size =32)}}</div>
    </div>
  </div>
   <div class="row">
    <div class="mb-3">
      <div class="col-md-3">{{ form.postcode.label(class_="form-label") }}</div>
      <div class="col-md-12">{{ form.postcode(class_="form-control", size =32)}}</div>
    </div>
  </div>
  <div class="col-sm-10">
    <br>
      <button type="submit" class="btn btn-outline-light form-btn">Sign Up</button>
    </div>
 </div>
</form>

{% endblock %}
</body>
